.header {
    height: 100px;
    /* background-color: rgb(234, 234, 240); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
}
.header ul li {
    float: left;
    list-style: none;
   margin-left: 10px;
}
.head img {
    width: 30px;
    height: 30px;
}
.cont {
    margin-top: -30px;
    margin-left: 10%;
    width: 80%;
    height: 40vh;
    background-image: url(https://cache.marriott.com/content/dam/marriott-renditions/MLEWH/mlewh-wow-oceanhaven-1800-hor-clsc.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont button {
    background-color: orangered;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    color: azure;
    border-style: none;
}
.cont1 {
    width: 70%; 
    height: 100px; 
    background-color: rgb(230, 224, 224);
    display: flex;
    flex-direction: row;
    gap: 3px;
    border-radius: 5px;
    margin-top: -2%;
    margin-left: 15%;
    justify-content: space-between;
}
.cont1 .fom {
    width: 18%;
    
}